#app
  .font-red
    color : #ff5749
  .font-orange
    color : #ffb85f
  .font-yellow
    color : #ffff34
  .font-green
    color : #5f805b
  .font-blue
    color : #9d9eff
  .font-cyan
    color : #72fcff
  .font-purple
    color : #7f2180
  .font-white
    color : #fff8f6
